// Variables

$color-azul-1: hsl(238, 84%, 59%);
$color-azul-2: hsl(227, 96%, 62%);
$color-celeste: hsl(226, 87%, 91%);
$color-amarillo: hsl(46, 86%, 60%);
$color-titulos: hsl(231, 9%, 16%);
$color-textos: hsl(231, 14%, 38%);
$color-gris-bordes: hsl(0, 0%, 75%);
$color-gris-claro: hsl(225, 40%, 98%);
$color-corinto: hsl(357, 71%, 36%);

$font-size-titulo: 5rem;
$line-height: 1.5rem;

$max-width-1: 1000px;
$max-width-2: 1200px;
$break-point: 650px;
$font-family: 'Poppins', sans-serif;
$border-radius: 0.75rem;
$box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.0), 0 6px 20px 0 rgba(0, 0, 0, 0.11);




body {
  font-family: $font-family;
  text-align: center;
  color:$color-textos;

  
}
p {
  margin: 10px;
}



// --- NAVEGACION --- //

.header {
  width: 100%;
  position: relative;
}

.nav {
  max-width: 650px;
  margin: 0 auto;
  padding: 2rem;

}

.nav__list {
  list-style: none;
  display: grid;
  justify-items: center;
  align-items: center;
  padding-inline-start: 0;


  
  @media screen and (min-width: $break-point){
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    align-items: center;
    height: 8rem;
    
  }


  a {
    text-decoration: none;
    color: $color-textos;
    display: inline-block;
    font-weight: 500;
    padding: 1rem;
    letter-spacing: 1px;
    transition: all .3s;

    &:hover {
      color: $color-azul-2;
      transition: all .3s;
      // font-size: 0.85rem;

    }

    @media screen and (min-width: $break-point) {
      font-size: 0.75rem;
    }
  }
  
}

.nav__home {
  display: grid;
  justify-items: center;
  align-items: center;
  order: -1;
  

  @media screen and (min-width: $break-point) {
    order: 0;
  }
  
}

.nav__home-svg {
  width: 3.5rem;
  display: block;
  transition: width .2s;

}

.nav__home-svg:Hover {
  
  @media screen and (min-width: $break-point) {
    width: 4rem;
    
  }

}

// --- PRESENTACION --- //


.present__container {
  max-width: 100%;
  background-color: $color-gris-claro;
  padding: 6.5rem 0;
}

.present {
  display: grid;
  max-width: 80%;
  justify-items: center;
  align-items: center;
  margin: 0 auto;
  color: $color-titulos;
  text-align: center;

  @media screen and (min-width: $max-width-1) {
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
    max-width: $max-width-1;

  }

}


.hola {
  font-weight: 600;
  margin-bottom: -3rem;
  position: relative;

  @media screen and (min-width: $break-point) {
    margin-bottom: -5rem;

  }
  @media screen and (min-width: $max-width-1) {
    margin-bottom: -5.5rem;
  }

}

.signo__garcia {
  display: inline-block;
  position: absolute;
  margin-left: 0.2rem;
  width: 1rem;
}


.titulo {
  font-size: 3rem;
  padding: 2rem 0 1rem;

  @media screen and (min-width: $break-point) {
 
    font-size: $font-size-titulo;
   }
 


}

.texto1 {
  font-size: 1rem;
  color: $color-textos;
  margin-top: -1.5rem;
  // margin-bottom: 1.6rem;
  max-width: 400px;
  line-height: $line-height;

  @media screen and (min-width: $max-width-1) {
    margin-top: -2rem;

  }
}

.foto__png {
  display: block;
  width: 75%;
  margin: 0 auto;

  @media screen and (min-width: $max-width-1) {
    width: 90%;

  }
}


// --- QUIERO UNIRME --- //


.unirme {
  color: $color-textos;
  max-width: 50%;
  width: 700px;
  background-color: white;
  box-shadow: $box-shadow;
  padding: 1.5rem 3.5rem;
  border-radius: $border-radius;
  margin: 0 auto;
  margin-top: -5.3rem;

}


.quiero {
  font-weight: 400;
  line-height: 0.5rem;


  @media screen and (max-width: 697px) {
    line-height: $line-height;

  }

}

.garciarobles {
  color: black;
  font-weight: 500;
}



.porque {
  font-weight: 500;
  line-height: 1.2rem;
  font-size: 0.875rem;

  @media screen and (min-width: 698px) {
   font-size: 16px;
   line-height: $line-height;

  }
  
}

.sig {
  color: $color-corinto;
}



// --- EXPERIENCIA--- //


.main-container {
  margin: 0 auto;
  width: 100%;
 
}

.main {
  max-width: 100%;
  margin: 0 auto;
display: grid;
justify-items: center;
align-items: center;

  // background-color: yellow;

  @media screen and (min-width: 500px) {
    width: 80%;

  }


}
.experiencia__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  justify-items: center;
  align-items: center;
  position: relative;

  @media screen and (min-width: $max-width-1) {
  width: 800px;
  grid-template-columns: repeat(2, 1fr);
  // background-color: yellow;
  justify-items: center;
  align-items: center;
  }


}

.experiencia__titulo {
  font-size: 3rem;
  color: $color-titulos;
  padding: 7rem 0 2rem;


  @media screen and (min-width: 600px) {
    font-size: $font-size-titulo;
  }

  
}


.card__experiencia {
  width: 200px;
  padding: 2.25rem;
  background-color: white;
  margin: 0 auto;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  line-height: 1.4rem;


}



.experiencia__texto {

  padding: 3rem 2rem;
  line-height: $line-height;
  
}



.card__icon {
font-size: 4rem;
color: $color-azul-2;
margin-bottom: 10px;

}

.card__year {
  font-size: 0.85rem;
}


.card__empresa {
  font-weight: 500;
  font-size: 0.90rem;
}

.card__ocupacion {
  font-weight: 500;
  margin-bottom: 0;

}




// --- PORTAFOLIO --- //


.portafolio_wrapper {
  max-width: 100%;
  background-color: $color-azul-1;
  padding: 2.5rem;
  color: white;

  @media screen and (min-width: 875px) {
    margin-top: 8rem;
    padding: 4.5rem;
  }

}

.portafolio__titulo {
  font-size: 2.5rem;
  margin-block-start: 0.5rem;



  @media screen and (min-width: 600px) {
    font-size: $font-size-titulo;
  }

  
}

.portafolio__texto {
font-weight: 300;
font-size: 0.875rem;
width: 85%;
max-width: 400px;
margin: 0 auto;
line-height: $line-height;
letter-spacing: 0.4px;
padding-bottom: 1.5rem;

@media screen and (min-width: 600px) {
  margin-top: -1rem;
  font-size: 1rem;

}

}

.portafolio__link {
display: inline-block;
text-decoration: none;
color:$color-azul-1;
background-color: white;
padding: 0.75rem 1.75rem;
border-radius: 50px;
font-size: 0.85rem;

  &:hover {
    background-color: $color-amarillo;

  }

}

.link__a {
  text-decoration: none;
  color: inherit;
}


// --- PROYECTOS --- //


.proyectos {
  max-width: 80%;
  width: $max-width-1;
  // background-color: yellow;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  justify-items: center;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  padding: 8rem 0;

}

.proyectos__card {
  width: 250px;
  
  border: 1px solid hsl(0, 0%, 90%);
  border-radius: $border-radius;
  color: white;
  margin: 0.85rem 0;

  &:hover {
    box-shadow: $box-shadow;
    border: transparent;

    .proyectos__textos {
      background-color: $color-amarillo;
      color: $color-azul-1;
      transition: all .15s ease-in-out;
    }
  }
  
 
}



.proyectos__imagen img {
  width: 100%;
  border-radius: 0.75rem 0.75rem 0 0;
  padding: 0;
  margin: 0;


}

.proyectos__textos {
padding: 1rem;
line-height: 1.5rem;
background-color: $color-azul-1;
border-radius: 0 0 $border-radius $border-radius;
font-size: 15px;
}


.proyectos__textos p {
  margin-top: -12px;
}


// --- HABILIDADES --- //


.habilidades__wrapper {
  background-color: $color-gris-claro;
  padding: 6rem 4rem;

  @media screen and (max-width: 800px) {
    padding: 2rem;
    padding-bottom: 4rem;
  }
}

.habilidades {
max-width: $max-width-1;
// background-color: yellow;
margin: 0 auto;
}

.habilidades__titulo {
  font-size: 2.5rem;
  color: $color-titulos;
  margin: 1rem;
  padding-top: 2rem;

  @media screen and (min-width: 800px) {
    font-size: $font-size-titulo;
   
  }


}

.habilidades__texto {
max-width: 85%;
max-width: 525px;
margin: 0 auto;
font-size: 14px;
line-height: $line-height;
padding-bottom: 6rem;

@media screen and (min-width: 600px) {
  font-size: 1rem;

}

}

.habilidades__cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  justify-items: center;
  // background-color: yellow;
  max-width: $max-width-1;
  margin: 0 auto;

  @media screen and (min-width: 955px) {
    grid-template-columns: repeat(2, 1fr);
  
  }


}


.habilidad__card {

  line-height: 2rem;
  background-color: white;
  padding: 1.5rem;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  margin-bottom: 4.5rem;

  @media screen and (min-width: 600px) {
    // width: 200px;
  }

  
 
}

.habilidad__card__texto{
  padding: 2rem;
  border-bottom: 1px solid rgb(208, 208, 208);
  width: 150px;
  margin: 0 auto;

  @media screen and (max-width: 500px) {
    width: 110px;


  }
}


.habilidad__card__lista {
  list-style: none;
  text-align: left;
  padding: 1rem;
  padding-inline-start: 20px;

  @media screen and (max-width: 500px) {
    font-size: 12px;
    line-height: 1.5rem;
  }

}

.habilidad__card__lista li::before {
  content: url(/assets/icons/check-solid.svg); 
  display: inline-block;
  width: 14px;
  margin-right: 13px;

}





// --- USO DE PROGRAMAS --- //

.programas__logos img{
width: 30px;
padding: 0.5rem;
display: inline-block;
}


.contacto__titulo {
  font-size: 2.5rem;
  color: $color-titulos;
  margin: 1rem;
  padding-top: 4rem;

  @media screen and (min-width: 800px) {
    font-size: $font-size-titulo;
   
  }

}

.contacto__texto {
width: 70%;
margin: 0 auto;
line-height: $line-height;
padding-bottom: 3rem;

}

.contacto_icons {
  padding-bottom: 3rem;
}

.contacto_icons i  {
  background-color: $color-azul-1;
  color: white;
  display: inline-block;
  padding: 1rem;
  border-radius: 50px;
  margin: 0 0.5rem;
  transition: all .3s ease;

  &:hover {
    background-color: darken($color-azul-1, 10);
  }

}


.inicio__wrapper {
  color: $color-gris-bordes;
  // background-color: yellow;
  width: 150px;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 6rem;
  margin-top: 2rem;
  transition: all .3s;

}



.up-menu {
  position: relative;
  top: -5px;
  transition: all .3s;
 
}


.inicio {
  text-decoration: none;
  display: block;
  color: $color-gris-bordes;
 
}

.inicio__wrapper:hover .up-menu{
  top: -15px;
}





//--- PORTAFOLIO --- 


// .proyects {
//   max-width: $max-width-1;
//   background-color: yellow;
//   margin: 0 auto;
// }




.nav__experiencia-2,
.nav__portafolio-2,
.nav__habilidades-2,
.nav__contacto-2
 {
  display: none;

  @media screen and (min-width: $break-point){
    display: grid;

}
}


.proyects__btns {
  width: 700px;
  max-width: 80%;
  // background-color: yellow;
  margin: 0 auto;
  
}
.portafolio2__titulo {
  font-size: 3rem;
  color: $color-titulos;
  margin: 0rem;
  padding-bottom: 3rem;


  @media screen and (min-width: $break-point) {
    font-size: $font-size-titulo;
  }

  
}

.proyects__link {
  text-decoration: none;
  color: white;
  background-color: $color-azul-1;
  border-radius: 50px;
  font-size: 0.75rem;
  
 
  display: inline-block;
  width: 110px;
  padding: 0.75rem 0.6rem;
  margin: .5rem auto;

  

  &:hover {
    background-color: darken($color-azul-1, 10);
  }

  @media screen and (min-width: 650px) {
    
    display: inline-block;
    padding: 0.75rem;
    margin: 0.85rem auto;
  }

  }

  .active_link {
    background-color: $color-amarillo;
  
  }

  .portafolio__seccion {
    padding: 4rem 0;
    // background-color: yellow;
    max-width: $max-width-1;
    width: 80%;
    margin: 0 auto;
  }

  .portafolio__h {
    width: 300px;
    margin: 0 auto;
    margin-bottom: 1rem;
  }

  .portafolio__p1 {
    font-size: 14px;
  }

  .portafolio__p2 {
    font-weight: 500;
  }

.portafolio__imagenes{
  padding: 2rem 0;
}


 
.porta__img {
  display: inline-block;
  width: 80vw;
  max-width: 700px;
  text-align: start;
}

 .screen {
   padding-top: 3rem;
 }
.porta__screen {
  width: 70vw;
  max-width: 950px;
}


.span__border {
  border-bottom: 1px solid rgb(215, 215, 215);
  width: 60%;
  max-width: 1000%;
  margin: 0 auto;
}